.btn-primary {
  background: #4371b2; }

.under {
  width: 200px;
  height: 2px;
  background: #FF5555;
  padding: 2px;
  display: block;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto; }

p {
  font-size: 1.3em; }

body {
  margin: 0;
  overflow-x: hidden; }
  body #bg {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: -1; }
    body #bg img {
      height: 85vh; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  header .logo img {
    width: 150px;
    margin: 20px; }
  header nav {
    width: 70%;
    padding: 20px; }
    header nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none; }
      header nav ul li {
        flex-grow: 1;
        text-align: center;
        font-size: 18px;
        color: white; }

main .hero {
  height: 61vh; }
  main .hero__cont {
    margin: 120px 40px; }
  main .hero__h1 {
    font-size: 3.6em;
    margin-bottom: 20px;
    color: white; }
  main .hero__p {
    font-size: 1.3em;
    margin-bottom: 20px;
    color: white; }
  main .hero__btn {
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 5px;
    color: white;
    border-color: white;
    font-size: 1.5em; }

.services .ser__h1 {
  text-align: center; }
.services__info {
  text-align: center;
  padding: 0 20%; }
.services__cont ul {
  list-style: none; }
  .services__cont ul .service {
    padding: 40px;
    box-sizing: border-box; }
    .services__cont ul .service img {
      width: 100%;
      height: 100px; }
    .services__cont ul .service h3 {
      text-align: center; }
    .services__cont ul .service p {
      text-align: center;
      font-size: 1.3em; }

.projects {
  display: flex;
  flex-wrap: wrap; }
  .projects__header {
    background: #4371b2;
    width: 20%;
    position: relative; }
    .projects__header h3 {
      position: absolute;
      font-size: 5em;
      transform: rotate(270deg);
      top: 200px;
      left: -40px;
      padding: 0;
      margin: 0; }
  .projects__cont {
    width: 80%; }
    .projects__cont ul {
      list-style: none;
      padding: 0; }
      .projects__cont ul .project {
        height: 700px;
        margin-top: 50px; }
        .projects__cont ul .project img {
          width: 100%;
          padding: 100px 10% 20px;
          box-sizing: border-box; }
        .projects__cont ul .project .deatils .project__name {
          margin: 40px 0 10px;
          text-align: center; }
        .projects__cont ul .project .deatils ul {
          padding: 20px 50px 0; }
          .projects__cont ul .project .deatils ul li {
            margin: 15px 0; }
        .projects__cont ul .project p {
          font-size: 18px;
          padding: 10px 50px; }

.technologies {
  margin: 90px 0; }
  .technologies h2 {
    text-align: center; }
  .technologies p {
    text-align: center;
    font-size: 18px;
    padding: 2px 20%; }
  .technologies .tech__cont {
    display: flex;
    border: 1px solid #4371b2; }
    .technologies .tech__cont .type {
      width: 30%;
      background: #4371b2;
      margin-right: 40px; }
      .technologies .tech__cont .type ul {
        list-style: none;
        padding: 0; }
        .technologies .tech__cont .type ul li:nth-child(1) {
          background: white; }
        .technologies .tech__cont .type ul li {
          padding: 20px 40px;
          font-size: 1.3em; }
    .technologies .tech__cont .icons {
      width: 70%; }
      .technologies .tech__cont .icons img {
        width: 100px;
        padding: 10px;
        margin: 10px;
        transition: 0.3s; }
      .technologies .tech__cont .icons img:hover {
        transform: scale(1.2) rotate(360deg); }

/*# sourceMappingURL=main.css.map */
