$color: (primary : #4371b2,
    txt-b: black,
    txt-w:white,
    primary2:#FF5555);


$padding : 20px;
$border: 1px solid black;
$radius:5px;
$p-font:1.3em;
$sm-font:18px;

@function color($color-name) {
    @return map-get($color, $color-name);
}


.btn-primary{
    background: color(primary);
}
.under {
    width: 200px;
    height: 2px;
    background: color(primary2);
    padding: 2px;
    display: block;
    border-radius: $radius;
    text-align: center;
    margin: 0 auto;
}

p {
    font-size: $p-font;
}

body {
    margin: 0;
    overflow-x: hidden;

    #bg {
        position: absolute;
        left: 0;
        top: 0;
        height: auto;
        width: 100%;
        overflow-x: hidden;
        z-index: -1;


        img {
            height: 85vh;
            width: 100%;
            overflow-x: hidden;
        }
    }

}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .logo img {
        width: 150px;
        margin: 20px;
    }


    nav {
        width: 70%;
        padding: $padding;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;

            li {
                flex-grow: 1;
                text-align: center;
                font-size: $sm-font;
                color: color(txt-w)
            }
        }
    }
}

main {
    .hero {
        height: 61vh;

        &__cont {
            margin: $padding *6 $padding *2;
        }

        &__h1 {
            font-size: 3.6em;
            margin-bottom: $padding;
            color: color(txt-w)
        }

        &__p {
            font-size: $p-font;
            margin-bottom: $padding;
            color: color(txt-w);
        }

        &__btn {
            padding: 10px;
            border: $border;
            display: inline-block;
            border-radius: $radius;
            color: color(txt-w);
            border-color: white;
            font-size: 1.5em;
        }
    }

}


.services {
    .ser__h1 {
        text-align: center;
    }

    &__info {
        text-align: center;
        padding: 0 20%;
    }


    &__cont {
        ul {
            list-style: none;


            .service {
                padding: $padding *2;
                box-sizing: border-box;

                img {
                    width: 100%;
                    height: 100px;
                }

                h3 {
                    text-align: center;
                }

                p {
                    text-align: center;
                    font-size: $p-font
                }
            }
        }
    }





}


.projects {
    display: flex;
    flex-wrap: wrap;

    &__header {
        background: color(primary);
        width: 20%;
        position: relative;

        h3 {
            position: absolute;
            font-size: 5em;
            transform: rotate(270deg);
            top: 200px;
            left: -40px;
            padding: 0;
            margin: 0;
        }
    }

    &__cont {
        width: 80%;

        ul {
            list-style: none;
            padding: 0;

            .project {
                height: 700px;
                margin-top: 50px;

                img {
                    width: 100%;
                    padding: 100px 10% 20px;
                    ;
                    box-sizing: border-box;
                }

                .deatils {
                    .project__name {
                        margin: 40px 0 10px;
                        text-align: center;
                    }

                    ul {
                        padding: $padding $padding *2.5 0;

                        li {
                            margin: 15px 0;
                        }

                    }
                }

                p {
                    font-size: $sm-font;
                    padding: 10px 50px;
                }


            }
        }
    }

}

.technologies{
    
    margin: 90px 0;
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: $sm-font;
        padding:2px 20%;
    }
    
    .tech__cont{
        display: flex;
        border:1px solid color(primary);
        
        .type{
            width: 30%;
            background: color(primary);
            margin-right: 40px;
            
            ul{
                list-style: none;
                padding: 0;
                
                li:nth-child(1){
                    background: white;
                }
                
                li{
                    padding: 20px 40px;
                    font-size: $p-font
                    
                }
            }
        }
        .icons{
            width: 70%;
            
             
            img{
                width: 100px;
                padding: 10px;
                margin: 10px;
                transition: 0.3s;
            }
            img:hover{
                transform: scale(1.2) rotate(360deg);
            }
        }
        
    }
}
