$color: (primary : #285da7,
    txt-b: black,
    txt-w:white,
    primary2:#FF5555);


$padding : 20px;
$border: 1px solid black;
$radius:5px;
$p-font:1.3em;


@function color($color-name) {
    @return map-get($color, $color-name);
}



.under {
    width: 200px;
    height: 2px;
    background: color(primary2);
    padding: 2px;
    display: block;
    border-radius: $radius;
    text-align: center;
    margin: 0 auto;
}

p{
    font-size: $p-font;
}
body {
    margin: 0;
    overflow-x: hidden;

    #bg {
        position: absolute;
        left: 0;
        top: 0;
        height: auto;
        z-index: -1;


        img {
            height: 85vh;

        }
    }

}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .logo img {
        width: 150px;
        margin: 20px;
    }


    nav {
        width: 70%;
        padding: $padding;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;

            li {
                flex-grow: 1;
                text-align: center;
                font-size: 1.5em;
                color: color(txt-w)
            }
        }
    }
}

main {
    .hero {
        height: 61vh;

        &__cont {
            margin: $padding *6 $padding *2;
        }

        &__h1 {
            font-size: 3.6em;
            margin-bottom: $padding;
            color: color(txt-w)
        }

        &__p {
            font-size: $p-font;
            margin-bottom: $padding;
            color: color(txt-w);
        }

        &__btn {
            padding: 10px;
            border: $border;
            display: inline-block;
            border-radius: $radius;
            color: color(txt-w);
            border-color: white;
            font-size: 1.5em;
        }
    }

}


.services {
    .ser__h1 {
        text-align: center;
    }

    &__info {
        text-align: center;
        padding: 0 20%;
    }

    &__cont {
        ul {
            display: flex;
            list-style: none;
            flex-wrap: wrap;

            .service {
                width: 33%;
                padding: $padding *2;
                box-sizing: border-box;

                img {
                    width: 100%;
                    height: 100px;
                }

                h3 {
                    text-align: center;
                }

                p {
                    text-align: center;
                    font-size: $p-font
                }
            }
        }

    }
}
